# Ignorar carpetas de videos y modelos pesados
videos/
models/

# Ignorar archivos de video comunes
*.mp4
*.mov
*.avi
*.mkv
*.webm
*.zip
*.rar
*.exe

# Ignorar archivos de audio pesados
*.wav
*.mp3
*.flac

# Archivos del sistema/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
